/* CSS for the Healthwatch Rate and Review plugin */



/* Rate and Review form
----------------------------------- */

#commentform select {
	font-family: FontAwesome, 'Open Sans', serif;
	}

.form-allowed-tags {
	display: none;
	}

#commentform p {
	margin-bottom: 1rem;
	}

.feedback-response {
	margin-left: 3rem;
	margin-bottom: 3rem;
	padding: 2rem 2rem 1rem 2rem;
	background-color: rgba(0,0,0,0.05);
	border-radius: 5px;
	}

/* Ratings
------------------------------------------------- */

.rate-and-review-scores span,
.healthwatch-review-scores span {
	width: 200px;
	display: inline-block;
	}

/* Icons
------------------------------------------------- */
.fa-star,
.fa-star-half-alt,
.fa-star-o {
	color: inherit;
	/*font-size: 1.33333em;*/
	}

.fas.green,
.far.green {
	color: var(--hw-teal);
	}

.rate-and-review-scores .fa-star,
.rate-and-review-scores .fa-star-half-alt,
.rate-and-review-scores .fa-star-o,
.healthwatch-review-scores .fa-star,
.healthwatch-review-scores .fa-star-half-alt,
.healthwatch-review-scores .fa-star-o {
	font-size: 1.33333em;
}

/* ReCaptcha
------------------------------------------------- */

.bwp-recaptcha {
	display: inline-block;
	margin-bottom: 4rem;
	}

.rc-anchor-alert {
	font-weight: bold;
	}


/* Widgets
------------------------------------------------- */

#sidebar .col-md-3 {
	width: 100%;
	}

#sidebar .review-container {
	min-height: 350px;
	}

#sidebar .review-container h3 {
	padding-bottom: .5rem;
	}

#recent-reviews-container .review-container {
	min-height: 0;
	margin-bottom: 1.5rem;
	}

.home .row h3.service-info-container-sm,
.home .row h3.enter-and-view-title {
	margin:0;
	padding-bottom: .5rem;
}

/* Comment form */

.comment-form-section label {
	font-size: 1.8rem;
	margin-bottom: 0;
}

.comment-form-section {
	padding-top: 1rem;
}

.comment-form-section:first-child {
	padding-top: 0px;
}

/* Comment editor
------------------------------------------------- */

#civicrm-subject-code {
	font-weight: bold;
	margin-right: 1rem;
}

/* admin metabox */

#hw_services_meta_box .inside h2{
	padding-left: 0px;
	font-size: 1.2rem;
}

#hw_services_meta_box .inside h3{
	font-size: 1rem;
}

.ed_button.button.button-small {
	margin: 0 7px;
	height: 30px;
}

/* hw-feedback settings styles */

#hw_feedback_field_api_cache_path {
  width: 100%;
}

#hw_feedback_field_your_story_email {
	width: 50%;
}

#hw_feedback_field_email_from_name,
#hw_feedback_field_email_from_address {
	width: 25%;
}

#hw_feedback_field_withheld_comment_text,
#hw_feedback_field_partial_withheld_comment_text {
	width: 50%;
}

#hw_feedback_field_comment_email_footer {
	width: 75%;
}

.description {
	padding-left: 0.2rem;
}

.inline-description {
	display: inline;
}

.hw-feedback-alert {
	margin-left: 7px;
	padding: 4px 4px 6px 4px;
	background-color: rgba(252,219,214,.8);
	border: #E32A0D solid 2px !important;
	border-radius: 4px;
}

/* CQC Import tool */

#hw-feedback-nothing-to-do {
	display: inline-block;
}

#hw-feedback-cqc-import-throbber {
	display: none;
}

#hw-services-cqc-location-alert,
#hw-feedback-import-alert {
	display: none;
}

.api-output-label {
	font-weight: bold;
	width: 150px;
	display: inline-block;
}

.api-output-value {
	display: inline-block;
}

.api-output {
	padding-bottom: 0.5rem;
}

#hw-services-cqc-deg-reg-alert,
#hw-services-ods-inactive-alert {
	border: solid 1px #e14d43;
	border-radius: 3px;
	padding: 0 0.5rem;
	margin: 1rem 0 0.5rem 0;
	background: white;
}

/*
#api-output-name.api-output div.api-output-value::after {
	content: "\f14c ";
	font-family: "Dashicons";
	font-size: 1rem;
	padding-left: .5rem;
	vertical-align: middle;
}
*/

/* ODS API */

#ods-registration-results-container,
#ods-possible-matches-container {
	padding-left: 1rem;
}

#ods-registration-table {
	width: auto;
	border-collapse: collapse;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#ods-registration-header-row th {
	text-align: left;
}

.ods-registration-first-row td {
		border-top: 1px black solid;
}

#ods-registration-table td,
#ods-registration-table th {
	padding: 0.25rem 1rem 0.25rem 0.25rem;
}

#ods-registration-table tr:nth-child(2n) {
	background: #eee;
}

/* Dashboard box */

.dashboard_local_services_flex-container {
  display: flex;
	margin-bottom: 0.5rem;
}

.count_label {
  text-align: left;
  width: 40%;
}

.total_value,
.count_value {
  text-align: right;
  width: 30%;
}

.dashboard_local_services_header {
	font-weight: 600;
}

#dashboard_local_services_header {
  border-bottom: 1px solid #c3c4c7;
  padding-bottom: 3px;
	margin-bottom: 2px;
}

#dashboard_local_services_footer {
  padding-top: 3px;
  border-top: 1px solid #c3c4c7;
}

#count_label_footer {
  font-weight: 600;
}

/* Admin area */
.admin-dashicons-phone {
	font-size: 1rem;
	width: auto;
}

#hw_feedback_media_manager {
  display: block;
}

#hw-feedback-preview-image {
  background-color: white;
}

#hw_feedback_media_manager {
  margin-top: 1rem;
}

/* shortcode styles */

.media.callout-review {
  border: 1px solid var(--hw-green);
  background-color: white;
  border-radius: 3px;
}

.media.callout-review .city {
  color: #666;
  font-weight: 600;
}

.media.callout-review .media-left .fa-star {
  color: black;
}

#content .media.callout-review a[href*="sharepoint"]{
  padding: 0.6rem 1rem;
}

.media.callout-new-service,
.media.callout-dual-reg {
	border: 1px solid var(--hw-teal);
	background-color: var(--hw-teal-30);
}

.media.callout-dual-serv {
	border: 1px solid var(--hw-light-blue);
	background-color: var(--hw-light-blue-30);
}

.media.callout-expired .media-body.callout a,
.media.callout-new-service .media-body.callout a,
.media.callout-dual-reg .media-body.callout a,
.media.callout-dual-serv .media-body.callout a {
	color: var(--hw-blue);
}

.media.callout-new-service .media-body.callout a:hover,
.media.callout-dual-reg .media-body.callout a:hover,
.media.callout-dual-serv .media-body.callout a:hover,
.media.callout-new-service .media-body.callout a:focus,
.media.callout-dual-reg .media-body.callout a:focus,
.media.callout-dual-serv .media-body.callout a:focus,
.media.callout-new-service .media-body.callout a:active,
.media.callout-dual-reg .media-body.callout a:active,
.media.callout-dual-serv .media-body.callout a:active {
	color: white;
	background-color: var(--hw-blue);
	outline: 3px solid var(--hw-blue);
}

.panel-star-rating {
	margin-top: 10px;
}

.dashicons.dashicons-yes-alt.api-match {
	vertical-align: middle;
	color: green;
}

/* Dash and Meta box Labels
--------------------------------- */

#hw_services_meta_box input {
	max-width: 100%;
}

#hw_services_meta_box label {
	width: 150px;
	display: inline-block;
}

#hw_services_meta_box label:before {
	font-family: "Dashicons";
	font-size: 1.2rem;
	padding-right: .5rem;
	vertical-align: middle;
}

label[for="hw_services_address_line_1"]:before {
	content: "\f230 ";
}

label[for="hw_services_address_line_2"]:before {
	content: "\f230 ";
}

label[for="hw_services_city"]:before {
	content: "\f230 ";
}

label[for="hw_services_county"]:before {
	content: "\f230 ";
}

label[for="hw_services_postcode"]:before {
	content: "\f230 ";
}

label[for="hw_services_phone"]:before {
	content: "\f525 ";
}

label[for="hw_services_website"]:before {
	content: "\f504 ";
}

label[for="hw_services_contact_email"]:before {
	content: "\f465 ";
}

label[for="hw_services_contact_optout"]:before {
	content: "\f153 ";
}

label[for="hw_services_cqc_location"]:before {
	content: "\f112 ";
}

label[for="hw_services_date_visited"]:before {
	content: "\f508 ";
}

label[for="hw_services_full_report"]:before {
	content: "\f103 ";
}

/* Feedback comment columns
----------------------------------------*/

#feedback_author_ip_check,
#feedback_response_boolean,
#feedback_hw_reply_boolean {
	width: 100px;
	text-align: center;
}

.checkmark {
	color: var(--hw-green);
	padding: 0.5rem;
}

.checkmark:hover {
	background: var(--hw-green);
	color: white;
}

.nhs {
	color: #005eb8;
	padding: 0.5rem;
}

.checkmark-wrapper {
	text-align: center;
	display: block;
}

.feedback_author_ip_check.column-feedback_author_ip_check {
	text-align: center;
}

/* Import Tool */
.hw-feedback-cqc-form .hw-feedback-cqc-import-form-row {
	margin: 0.5rem 0;
}

#hw-feedback-preview-only-row {
	display: inline-block;
}

