/* CSS for the Healthwatch Rate and Review plugin */



/* Rate and Review form
----------------------------------- */

#commentform select {
	font-family: FontAwesome, Open Sans, serif;
	}

#commentform label[for=rating],
#commentform label[for=comment] {
	}

.form-allowed-tags {
	display: none;
	}

#commentform p {
	margin-bottom: 1rem;
	}

.feedback-response {
	margin-left: 3rem;
	margin-bottom: 3rem;
	padding: 2rem 2rem 1rem 2rem;
	background-color: rgba(0,0,0,0.05);
	border-radius: 5px;
	}

/* Ratings
------------------------------------------------- */

.rate-and-review-scores span {
	width: 200px;
	display: inline-block;
	}

/* Icons
------------------------------------------------- */
.fa-star,
.fa-star-half-alt,
.fa-star-o {
	color: var(--hw-pink);
	/*font-size: 1.33333em;*/
	}

.fas.green,
.far.green {
	color: var(--hw-green);
	}

.rate-and-review-scores .fa-star,
.rate-and-review-scores .fa-star-half-alt,
.rate-and-review-scores .fa-star-o {
	font-size: 1.33333em;
}

/* ReCaptcha
------------------------------------------------- */

.bwp-recaptcha {
	display: inline-block;
	margin-bottom: 4rem;
	}

.rc-anchor-alert {
	font-weight: bold;
	}


/* Widgets
------------------------------------------------- */

#sidebar .col-md-3 {
	width: 100%;
	}

#sidebar .review-container {
	min-height: 350px;
	}

#sidebar .review-container h3 {
	padding-bottom: .5rem;
	}

#recent-reviews-container .review-container {
	min-height: 0;
	margin-bottom: 1.5rem;
	}
